/* App3.css */
body,
.App3 {
  width: 300px; /* Set a fixed width */
  overflow-x: scroll; /* Adds horizontal scroll */
  white-space: nowrap; /* Prevents text wrap for horizontal scrolling */
  height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  background-image: url('.././public/Components/bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.App3::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/* Title Styling */
.title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  opacity: 0.85;
  border-radius: 2%;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.title:hover {
  color: #fff;
  background-color: #000;
  transform: translateX(-50%) translateY(-5px);
  transition: color 0.3s ease, transform 0.3s ease;
}

.box {
    width: 600px;
    left: 900px;
    height: 120px;
    top:500px;
    right:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px double #000;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 1;
  }

.box img {
  width: 80%;
  height: 85%;
  object-fit: cover;
}

.left-container {
  width: 100px;
  height: 100px;
  top: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 3px double #000;
  background-color: #fff;
  /* cursor: pointer; */
  transition: all 0.5s ease;
  position: relative; 
  /* overflow: hidden;
  box-sizing: border-box; */
  z-index: 1;
}
.
.right-container #box1 #box2 #box3{
    top: 200px;
    margin-right:200px;
    width: 20px;
    height: 20px;
    left: 100px;
    top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.box .name {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
#box1,#box2,#box3{
    width:150px;
    height:150px;
    left:700px;
  }
#box4{
    width:200px;
    height:200px;
  }


.box:hover .name {
  color: #5b584c;
  transform: translateY(-5px);
}

/* Border classes */
.green-border {
  border: 9px solid green;
}

.red-border-no-transition {
  border: 3px solid red;
  transition: none;
}

.disappear {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Popup styling */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 10px;
}

/* Points and Next Button Styling */
.points,
.next {
  position: fixed;
  bottom: 35px;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 20px;
  color: #fff;
  background-color: #000;
  opacity: 0.8;
  z-index: 2;
}

.points {
  left: 30%;
}

.next {
  left: 56%;
}